.showInfo {
  background-color: red;

  color: white;
  font-size: 30px;
  border-radius: 8px;
  padding: 10px;
}
input {
  padding: 20px;
  margin: 0 10px;
  border-radius: 8px;
}
button {
  padding: 15px;
  border-radius: 8px;
  background-color: blue;
  color: white;
}
